/* [project]/styles/styles.module.scss.module.css [client] (css) */
body {
  background-color: #08090a;
  justify-content: center;
  align-items: center;
  padding-top: 3vw;
  display: flex;
}

.styles-module-scss-module__U7p4tW__rootInfoPage {
  display: flex;
}

.styles-module-scss-module__U7p4tW__title {
  color: #00246b;
  font-size: 5vw;
}

.styles-module-scss-module__U7p4tW__subtitle {
  color: #00246b;
  font-size: 2vw;
}

.styles-module-scss-module__U7p4tW__modelImage {
  flex-direction: row;
  display: flex;
}

.styles-module-scss-module__U7p4tW__modelMenImage, .styles-module-scss-module__U7p4tW__modelWomenImage {
  width: 29vw;
  height: 30vw;
}

.styles-module-scss-module__U7p4tW__modelMenImage {
  clip-path: polygon(5% 0, 100% 0, 95% 95%, 5% 90%);
  transform: skewX(-5deg);
}

.styles-module-scss-module__U7p4tW__modelWomenImage {
  clip-path: polygon(10% 5%, 90% 15%, 92% 98%, 4% 90%);
  transform: skewX(10deg);
}

@media (min-width: 480px) and (max-width: 1200px) {
  .styles-module-scss-module__U7p4tW__rootInfoPage {
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .styles-module-scss-module__U7p4tW__modelImage {
    display: none;
  }

  .styles-module-scss-module__U7p4tW__title {
    font-size: 8vw;
  }

  .styles-module-scss-module__U7p4tW__subtitle {
    font-size: 4vw;
  }
}

/* [project]/styles/layout.module.scss.module.css [client] (css) */
.layout-module-scss-module__sXLTvq__header, .layout-module-scss-module__sXLTvq__header .layout-module-scss-module__sXLTvq__nav {
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: flex;
}

.layout-module-scss-module__sXLTvq__Link {
  color: #e5e7eb;
  padding-top: 2vw;
  font-size: 2vw;
  text-decoration: none;
}

.layout-module-scss-module__sXLTvq__image {
  width: 10vw;
  height: 10vw;
}

@media (min-width: 480px) and (max-width: 1024px) {
  .layout-module-scss-module__sXLTvq__Link {
    padding-top: 5vw;
    font-size: 5vw;
  }

  .layout-module-scss-module__sXLTvq__image {
    width: 4vw;
    height: 4vw;
  }
}

/* [project]/styles/models.module.scss.module.css [client] (css) */
.models-module-scss-module__VmLSVW__titleSection {
  color: #e5e7eb;
  justify-content: center;
  font-size: 4vw;
  display: flex;
}

.models-module-scss-module__VmLSVW__containerGrid {
  grid-column: 2;
  justify-content: center;
  place-items: center;
  display: grid;
}

.models-module-scss-module__VmLSVW__modelsImage {
  filter: brightness(.8);
  width: 22.5vw;
  height: 34.5vw;
  padding-top: 2vw;
  padding-left: .3vw;
  transition-duration: 1s;
}

.models-module-scss-module__VmLSVW__modelsImage:hover {
  filter: brightness();
  transition-duration: 1s;
}

.models-module-scss-module__VmLSVW__subtitle {
  color: #00246b;
}

@media (min-width: 480px) and (max-width: 750px) {
  .models-module-scss-module__VmLSVW__titleSection {
    font-size: 5vw;
  }

  .models-module-scss-module__VmLSVW__modelsImage {
    justify-content: center;
    width: 90vw;
    height: 140vw;
    padding-top: 2vw;
    display: flex;
  }
}

@media (min-width: 751px) and (max-width: 1200px) {
  .models-module-scss-module__VmLSVW__modelsImage {
    width: 45vw;
    height: 75vw;
    padding-top: 2vw;
  }
}

/*# sourceMappingURL=styles_c6b9fea2._.css.map*/