@import "variables.scss";
@import "mixins.scss";

.header {
  @include center();
  .nav {
    @include center();
  }
}

.Link {
  @include link();
  font-size: 2vw;
  padding-top: 2vw;
}

.image {
  height: 10vw;
  width: 10vw;
}

@media (min-width: 480px) and (max-width: 1024px) {
  .Link {
    font-size: 5vw;
    padding-top: 5vw;
  }

  .image {
    height: 4vw;
    width: 4vw;
  }
}
